# Similar Movie Recommendation System (Item-based):

Movie database: http://grouplens.org/datasets/movielens/100k/

In [18]:
import pandas as pd

In [19]:
# Importing Movie and Rating Database:

r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('F:\Mine\My Learning\Similar Movie Recommendation\DataSets\ml-100k\u.data',sep = '\t', names=r_cols, usecols=range(3))

m_cols = ['movie_id', 'title']
movies = pd.read_csv('F:Mine\My Learning\Similar Movie Recommendation\DataSets\ml-100k\u.item', sep='|', names=m_cols, usecols=range(2))

In [20]:
# Merging the two tables:

ratings = pd.merge(movies,ratings, on = 'movie_id')

In [21]:
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [25]:
# Using the pivot_table functions creating a Users/Movie Matrix.

movieRatings = ratings.pivot_table(index='user_id',columns='title',values='rating')
movieRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,� k�ldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN

In [28]:
# Series of users who rating Star wars:

StarWarsRating = movieRatings['Star Wars (1977)']
StarWarsRating.head()

user_id
1    5.0
2    5.0
3    NaN
4    5.0
5    4.0
Name: Star Wars (1977), dtype: float64

In [35]:
#  Computing the pairwise correlation of Star Wars' vector of user rating with every other movie:

similarMovies = movieRatings.corrwith(StarWarsRating)

# Removing NA values:

similarMovies = similarMovies.dropna()

similarMovies

title
'Til There Was You (1997)                                   0.872872
1-900 (1994)                                               -0.645497
101 Dalmatians (1996)                                       0.211132
12 Angry Men (1957)                                         0.184289
187 (1997)                                                  0.027398
2 Days in the Valley (1996)                                 0.066654
20,000 Leagues Under the Sea (1954)                         0.289768
2001: A Space Odyssey (1968)                                0.230884
39 Steps, The (1935)                                        0.106453
8 1/2 (1963)                                               -0.142977
8 Heads in a Duffel Bag (1997)                             -0.577350
8 Seconds (1994)                                           -0.755929
A Chef in Love (1996)                                       0.868599
Above the Rim (1994)                                       -0.645497
Absolute Power (1997)                                       0.085440
Abyss, The (1989)                                           0.203709
Ace Ventura: Pet Detective (1994)                           0.062689
Ace Ventura: When Nature Calls (1995)                       0.094514
Across the Sea of Time (1995)                              -0.132453
Addams Family Values (1993)                                 0.132264
Addicted to Love (1997)                                     0.028173
Addiction, The (1995)                                       0.507093
Adventures of Pinocchio, The (1996)                         0.111616
Adventures of Priscilla, Queen of the Desert, The (1994)    0.054740
Adventures of Robin Hood, The (1938)                        0.144587
Affair to Remember, An (1957)                               0.225451
African Queen, The (1951)                                   0.230540
Afterglow (1997)                                            0.420084
Age of Innocence, The (1993)                               -0.037176
Air Bud (1997)                                              0.012557
                                                              ...
Whole Wide World, The (1996)                                0.000000
Widows' Peak (1994)                                         0.136743
Wild America (1997)                                         0.040656
Wild Bill (1995)                                           -0.286299
Wild Bunch, The (1969)                                     -0.041299
Wild Reeds (1994)                                          -0.377964
Wild Things (1998)                                         -0.259437
William Shakespeare's Romeo and Juliet (1996)               0.098861
Willy Wonka and the Chocolate Factory (1971)                0.221902
Wings of Desire (1987)                                     -0.104771
Wings of the Dove, The (1997)                               0.000000
Winnie the Pooh and the Blustery Day (1968)                 0.142924
Winter Guest, The (1997)                                    0.353553
Wishmaster (1997)                                          -0.066932
With Honors (1994)                                         -0.111205
Withnail and I (1987)                                       0.083045
Wizard of Oz, The (1939)                                    0.266335
Wolf (1994)                                                 0.113214
Women, The (1939)                                          -0.175608
Wonderful, Horrible Life of Leni Riefenstahl, The (1993)    0.707107
World of Apu, The (Apur Sansar) (1959)                     -0.522233
Wrong Trousers, The (1993)                                  0.216204
Wyatt Earp (1994)                                           0.059560
Year of the Horse (1997)                                   -1.000000
Young Frankenstein (1974)                                   0.192589
Young Guns (1988)                                           0.186377
Young Guns II (1990)                                        0.228615
Young Poisoner's Handbook, The (1995)                      -0.007374
Zeus and Roxanne (1997)                                     0.818182
unknown                                                     0.723123
dtype: float64

In [37]:
# Sorting the above results:

similarMovies.sort_values(ascending=False)

title
Man of the Year (1995)                                                               1.000000
Full Speed (1996)                                                                    1.000000
Star Wars (1977)                                                                     1.000000
Mondo (1996)                                                                         1.000000
Line King: Al Hirschfeld, The (1996)                                                 1.000000
Outlaw, The (1943)                                                                   1.000000
Hurricane Streets (1998)                                                             1.000000
Hollow Reed (1996)                                                                   1.000000
Scarlet Letter, The (1926)                                                           1.000000
Safe Passage (1994)                                                                  1.000000
Good Man in Africa, A (1994)                                                         1.000000
Golden Earrings (1947)                                                               1.000000
Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)    1.000000
No Escape (1994)                                                                     1.000000
Ed's Next Move (1996)                                                                1.000000
Stripes (1981)                                                                       1.000000
Cosi (1996)                                                                          1.000000
Commandments (1997)                                                                  1.000000
Twisted (1996)                                                                       1.000000
Beans of Egypt, Maine, The (1994)                                                    1.000000
Last Time I Saw Paris, The (1954)                                                    1.000000
Maya Lin: A Strong Clear Vision (1994)                                               1.000000
Designated Mourner, The (1997)                                                       0.970725
Albino Alligator (1996)                                                              0.968496
Angel Baby (1995)                                                                    0.962250
Prisoner of the Mountains (Kavkazsky Plennik) (1996)                                 0.927173
Love in the Afternoon (1957)                                                         0.923381
'Til There Was You (1997)                                                            0.872872
A Chef in Love (1996)                                                                0.868599
Quiet Room, The (1996)                                                               0.866025
                                                                                       ...
Collectionneuse, La (1967)                                                          -1.000000
Bewegte Mann, Der (1994)                                                            -1.000000
Lamerica (1994)                                                                     -1.000000
Frankie Starlight (1995)                                                            -1.000000
To Have, or Not (1995)                                                              -1.000000
Legal Deceit (1997)                                                                 -1.000000
Slingshot, The (1993)                                                               -1.000000
Swept from the Sea (1997)                                                           -1.000000
For Ever Mozart (1996)                                                              -1.000000
Love and Death on Long Island (1997)                                                -1.000000
Glass Shield, The (1994)                                                            -1.000000
Squeeze (1996)                                                                      -1.000000
Crossfire (1947)                                                                    -1.000000
Neon Bible, The (1995)                                                              -1.000000
American Dream (1990)                                                               -1.000000
Theodore Rex (1995)                                                                 -1.000000
Horse Whisperer, The (1998)                                                         -1.000000
Lover's Knot (1996)                                                                 -1.000000
S.F.W. (1994)                                                                       -1.000000
Fille seule, La (A Single Girl) (1995)                                              -1.000000
Sliding Doors (1998)                                                                -1.000000
Nightwatch (1997)                                                                   -1.000000
Show, The (1995)                                                                    -1.000000
Nil By Mouth (1997)                                                                 -1.000000
Fall (1997)                                                                         -1.000000
I Like It Like That (1994)                                                          -1.000000
Sudden Manhattan (1996)                                                             -1.000000
Salut cousin! (1996)                                                                -1.000000
Tough and Deadly (1995)                                                             -1.000000
Dream Man (1995)                                                                    -1.000000
dtype: float64

Results are probably getting messed up by movies that have only been viewed by a handful of people who also happened to like Star Wars. Constructing a new DataFrame that counts up how many ratings exist for each movie, and also the average rating.

In [38]:
import numpy as np

In [49]:
# Couting number of users rated a particular movie and avg rating:

movieStats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})
movieStats.head()

                          rating
                            size      mean
title
'Til There Was You (1997)      9  2.333333
1-900 (1994)                   5  2.600000
101 Dalmatians (1996)        109  2.908257
12 Angry Men (1957)          125  4.344000
187 (1997)                    41  3.024390

In [50]:
# Getting rid of any movies rated by fewer than 100 people, and check the top-rated ones that are left:

popularMovies = movieStats['rating']['size'] >= 100

movieStats[popularMovies].sort_values([('rating', 'mean')], ascending=False)[:15]

                                       rating
                                         size      mean
title
Close Shave, A (1995)                     112  4.491071
Schindler's List (1993)                   298  4.466443
Wrong Trousers, The (1993)                118  4.466102
Casablanca (1942)                         243  4.456790
Shawshank Redemption, The (1994)          283  4.445230
Rear Window (1954)                        209  4.387560
Usual Suspects, The (1995)                267  4.385768
Star Wars (1977)                          583  4.358491
12 Angry Men (1957)                       125  4.344000
Citizen Kane (1941)                       198  4.292929
To Kill a Mockingbird (1962)              219  4.292237
One Flew Over the Cuckoo's Nest (1975)    264  4.291667
Silence of the Lambs, The (1991)          390  4.289744
North by Northwest (1959)                 179  4.284916
Godfather, The (1972)                     413  4.283293

In [51]:
# Joining this data with our original set of similar movies to Star Wars:

df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns=['similarity']))

C:\Users\useraccountname\AppData\Local\Enthought\Canopy\User\lib\site-packages\pandas\tools\merge.py:480: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [52]:
df.head()

                              (rating, size)  (rating, mean)  similarity
title
101 Dalmatians (1996)                    109        2.908257    0.211132
12 Angry Men (1957)                      125        4.344000    0.184289
2001: A Space Odyssey (1968)             259        3.969112    0.230884
Absolute Power (1997)                    127        3.370079    0.085440
Abyss, The (1989)                        151        3.589404    0.203709

In [53]:
# Sorting the Data with similarity score:

df.sort_values(['similarity'], ascending=False)[:15]

,"(rating, size)","(rating, mean)",similarity
title,,,
Star Wars (1977),583,4.358491,1.000000
"Empire Strikes Back, The (1980)",367,4.204360,0.747981
Return of the Jedi (1983),507,4.007890,0.672556
Raiders of the Lost Ark (1981),420,4.252381,0.536117
Austin Powers: International Man of Mystery (1997),130,3.246154,0.377433
"Sting, The (1973)",241,4.058091,0.367538
Indiana Jones and the Last Crusade (1989),331,3.930514,0.350107
Pinocchio (1940),101,3.673267,0.347868
"Frighteners, The (1996)",115,3.234783,0.332729
L.A. Confidential (1997),297,4.161616,0.319065
Wag the Dog (1997),137,3.510949,0.318645
Dumbo (1941),123,3.495935,0.317656
"Bridge on the River Kwai, The (1957)",165,4.175758,0.316580
"Philadelphia Story, The (1940)",104,4.115385,0.314272
Miracle on 34th Street (1994),101,3.722772,0.310921

Above results shows similar moview based on the user ratines.